body {
    font-family: Tahoma, sans-serif;
    background: linear-gradient(to right, #f3e5f5, #e1f5fe, #fce4ec);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #ff8a80, #ff80ab, #ea80fc);
    padding: 20px;
}

header img {
    height: 60px;
    margin-right: 20px;
}

header h1 {
    color: #fff;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
    margin-top: -50px;
}

section {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 45%;
}

textarea {
    width: 100%;
    border: 2px solid #d1c4e9;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

textarea.texto-encriptar {
    height: 150px;
}

textarea.Resultado {
    height: 150px;
}

.informacion {
    font-size: 14px;
    color: #757575;
    margin-top: 10px;
}

.botones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    background: linear-gradient(to right, #ff80ab, #ea80fc);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    display: flex;
    align-items: center;
}

button .material-icons {
    margin-right: 10px;
}

button:hover {
    background: linear-gradient(to right, #ff4081, #d500f9);
}

footer {
    text-align: center;
    padding: 10px;
    background: #f8bbd0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    color: #fff;
}
